@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$teal-lighten-5: #e0f2f1;
$teal-lighten-4: #b2dfdb;
$teal-lighten-3: #80cbc4;
$teal-lighten-2: #4db6ac;
$teal-lighten-1: #26a69a;
$teal: #009688;
$teal-darken-1: #00897b;
$teal-darken-2: #00796b;
$teal-darken-3: #00695c;
$teal-darken-4: #004d40;
$teal-accent-1: #a7ffeb;
$teal-accent-2: #64ffda;
$teal-accent-3: #1de9b6;
$teal-accent-4: #00bfa5;
