@import 'base';

body {
  background: $teal-lighten-4;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: $teal-darken-1;
}

.container {
  display: inline-block;
  background: white;
  width: 60%;
  padding: 48px;
  border-radius: 8px;
  box-shadow: 0 0 16px transparentize($teal-darken-2, .5);
}

.search-container {
  margin-top: 128px;
}

.result-container {
  margin-top: 24px;
}

.logo-wrapper {
  font-size: 3.6em;
  .fa {
    margin-right: 8px;
  }
}

.input-wrapper {
  display: inline-block;
  width: 75%;
  margin: 16px;
  border: 4px solid $teal-darken-1;
  min-height: 2.4em;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 2.4em;
  border-radius: 8px;
}

#input {
  display: inline-block;
  border: none;
  box-shadow: none;
  width: 100%;
}

.answer {
  float: left;
  font-size: 2em;
  margin-right: 48px;
  text-align: left;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.template {
  visibility: hidden;
}

.variation-wrapper {
  float: right;
  margin-top: -48px;
  margin-bottom: -48px;
  margin-right: -48px;
  height: 176px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.selector-wrapper {
  display: flex;
  flex-grow: 1;
  color: white;
  border-top: 1px solid white;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-top: none;
  }
  &.template {
    flex-grow: 0;
  }
  & > * {
    float: left;
  }
  .quantity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $teal-lighten-3;
    width: 120px;
  }

  &:hover .selector ul {
    display: block;
  }
}

.selector {
  display: flex;
  flex: 1;
  flex-direction: column;
  .selected {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $teal-lighten-2;
    width: 160px;
  }
  ul {
    display: none;
    position: absolute;
    background: $teal-lighten-1;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 0 16px transparentize($teal-darken-2, .5);
    li {
      display: block;
      width: 152px;
      padding: 12px;
      box-sizing: border-box;
      cursor: pointer;
      transition: background .3s;
      &:hover{
        background: $teal;
      }
    }
  }
}