@import 'base';

body {
  background: $teal-lighten-4;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: $teal-darken-1;
  padding-bottom: 128px;
}

.container {
  display: inline-block;
  background: white;
  width: 72%;
  padding: 48px;
  border-radius: 8px;
  box-shadow: 0 0 16px transparentize($teal-darken-2, .5);
  box-sizing: border-box;
  margin-top: 24px;
}

.search-container {
  margin-top: 128px;
}

.logo-wrapper {
  margin-top: 16px;
  font-size: 3.6em;
  .fa {
    font-size: .9em;
    margin-right: 8px;
  }
}

.input-wrapper {
  display: inline-flex;
  margin: 48px 16px 16px 16px;
  border: 4px solid $teal-darken-1;
  min-height: 2.4em;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 2.4em;
  border-radius: 8px;
  width: 80%;
}

#input {
  display: inline-flex;
  border: none;
  box-shadow: none;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  transition: background .3s, color .3s;
  &.active {
    color: white;
    background: $teal-darken-1;
  }
  &.error {
    color: white;
    background: #e53935;
  }
}

#equal {
  display: inline-block;
  width: 80px;
  cursor: pointer;
  line-height: 58px;
  background: $teal-darken-1;
  font-size: 2em;
  color: white;
  &:before {
    content: "=";
  }
}

.result-container {
  transition: opacity .3s, margin-left .3s;
  opacity: 0;
  margin-left: 10%;
  &.appear {
    opacity: 1;
    margin-left: 0;
  }
}

.answer {
  float: left;
  font-size: 2em;
  margin-right: 48px;
  text-align: left;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.template {
  display: none;
}

.variation-wrapper {
  float: right;
  margin-top: -48px;
  margin-bottom: -48px;
  margin-right: -48px;
  height: 176px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.selector-wrapper {
  display: flex;
  flex-grow: 1;
  color: white;
  border-top: 2px solid $teal-lighten-1;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-top: none;
  }
  &.template {
    flex-grow: 0;
  }
  & > * {
    float: left;
  }
  .quantity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $teal-lighten-3;
    width: 120px;
  }

  &:hover .selector ul {
    display: block;
  }
}

.selector {
  display: flex;
  flex: 1;
  flex-direction: column;
  .selected {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $teal-lighten-2;
    width: 120px;
  }
  ul {
    display: none;
    position: absolute;
    background: $teal-lighten-1;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 0 16px transparentize($teal-darken-2, .5);
    li {
      display: block;
      width: 120px;
      padding: 12px;
      box-sizing: border-box;
      cursor: pointer;
      transition: background .3s;
      &:hover {
        background: $teal;
      }
    }
  }
}

.unit-container {
  padding: 24px;
  cursor: pointer;
  input {
    display: none;
  }
  input:checked + .units-wrapper ul {
    display: block;
  }
}

.units-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.unit-wrapper {
  .quantity {
    padding: 8px;
    display: block;
    font-weight: bold;
  }
  ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0 16px 16px 16px;
    li {
      margin-bottom: 4px;
    }
  }
}

.github-fork-ribbon:before {
  background: $teal !important
}

@media only screen and (max-width: 1080px) {
  .answer {
    width: 100%;
    text-align: center;
  }
  .variation-wrapper {
    float: none;
    padding-top: 24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
    .quantity, .selector {
      width: 50%;
    }
    .selected {
      width: 100%;
    }
    ul {
      width: 36%;
      li {
        padding: 24px;
        width: 100%;
      }
    }
    height: auto;
  }

  .selector-wrapper {
    height: 72px;
    &.template {
      height: 0;
    }
  }

  .container {
    padding: 24px;
  }
}