@import 'base';

body {
  background: $teal-lighten-4;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: $teal-darken-1;
}

.search-container {
  display: inline-block;
  background: white;
  margin-top: 128px;
  width: 60%;
  padding: 64px;
  border-radius: 8px;
  box-shadow: 0 0 16px transparentize($teal-darken-2, .5);
}

.logo-container {
  font-size: 3.6em;
  .fa {
    margin-right: 8px;
  }
}

.input-wrapper {
  display: inline-block;
  width: 75%;
  margin: 16px;
  border: 4px solid $teal-darken-1;
  min-height: 2.4em;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 2.4em;
  border-radius: 8px;
}

#input {
  display: inline-block;
  border: none;
  box-shadow: none;
  width: 100%;
}