doctype html
html
    head
        title=title
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        link(rel='stylesheet', href='mathquill.css')
        block css
        script(type='text/javascript', src='jquery-3.1.1.min.js')
        script(type='text/javascript', src='https://use.fontawesome.com/0330c2c4b1.js')
        script(type='text/javascript', src='mathquill.min.js')
        script.
            var MQ = MathQuill.getInterface(2);
        block js
        script(type='text/javascript', src='quantify.js')
    body
        block body
