extends base

block css
    link(rel='stylesheet', href='main.css')

block js

block body
    .container.search-container
        .logo-wrapper
            i.fa.fa-balance-scale(aria-hidden='true')
            span Quantify
        .input-wrapper
            span#input
            #equal
    label.container.unit-container
        input(type='checkbox')
        .units-wrapper
            .unit-wrapper.template
                span.quantity
                ul

    .container.result-container.template
        .answer
        .variation-wrapper
            .selector-wrapper.template
                span.quantity
                .selector
                    span.selected
                    ul
    script.
        main();