extends base

block css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
    link(rel='stylesheet', href='main.css')

block js

block body
    .container.search-container
        .logo-wrapper
            i.fa.fa-balance-scale(aria-hidden='true')
            span Quantify
        .input-wrapper
            span#input
            #equal
    label.container.unit-container
        input(type='checkbox')
        .units-wrapper
            .unit-wrapper.template
                span.quantity
                ul

    .container.result-container.template
        .answer
        .variation-wrapper
            .selector-wrapper.template
                span.quantity
                .selector
                    span.selected
                    ul
    a.github-fork-ribbon.right-bottom.fixed(href="https://github.com/parkjs814/Quantify" title="Fork me on GitHub", target="_blank") Fork me on GitHub
    script.
        main();